<div clas"row">
  <div class="col-md-6 offset-md-3">

    <h1>
      <%= current_user.username %>
    </h1>

    <%= render "shared/tab", active_tab: "Feed" %>

  </div>
</div>

<%=current_user.feed.count %>

<% current_user.feed.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
