<div clas"row">
  <div class="col-md-6 offset-md-3">

    <h1>
      <%= current_user.username %>
    </h1>

    <%= render "shared/tab", active_tab: "Following" %>

  </div>
</div>

<%= current_user.leaders.count%>

<div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">

        <% current_user.leaders.each do |leader| %>
          <ul class="list-group">
            <li class="list-group-item"><%=leader.username%></li>
          </ul>
        <% end %>
   
    </div>
  </div>
</div>
